domain_name      = "example.org"
forward_to_email = "myrealemail@gmail.com"
region           = "us-east-1"
s3_bucket        = "my-catchall-emails"
dmarc_rua_email  = "ruaruarua@dmarc.postmarkapp.com"
